<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nuestra Misión</title>
    <link rel="stylesheet" href="../css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>

    <!--  este es el encabezado de la pagina, queda fija -->

    <header class="headerlogo">
        <img src="../img/logoentremareas.png" width="180px" height="130px">
    </header>
    <!--  este es el fondo y el titulo de la pagina NUESTRA MISION --> 
    <div class="fondoNM">
        <h1 class="tituloNM">Exploremos y protejamos juntos el océano.</h1>
    </div>
    
    <!-- a partir de aca empieza el cuerpo de la pagina --> 
<main>
    <section class="espacioblanco">
        <div class="container1">
                <div class="subtitulo"><h2>Nuestra Misión</h2></div>
                <br><h2 class="subtitulo1"> "Lo que una vez fué, puede ser una vez más"</h2>
                <br><h3 class="textoNM">Buscamos crear e implementar estrategias de conservación efectivas que protejan y <br>restauren el océano y nuestra conexión con él. <br> Visualizamos una relación de conciencia ecológica entre la gente y el mar; <br>donde los corazones humanos son reconstruidos generando un futuro común para <br>que todas las formas de vida prosperen.<br>Creemos que al comprender la importancia vital de los océanos, <br> podemos iniciar un cambio cultural significativo que lleve a un respeto duradero <br> por estos entornos cruciales.</h3> 
            </div>
    </section>
    <section>
        <div id="carouselExampleCaptions" class="carousel slide">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="../img/carouselimg1.jpg" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                  <h5>Los bosques marinos del fin del mundo</h5>
                
                </div>
              </div>
              <div class="carousel-item">
                <img src="../img/carrouselimg2.jpg" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                  <h5>Parque Provincial Marino Costero Península Mitre</h5>
                </div>
              </div>
              <div class="carousel-item">
                <img src="../img/carrouselimg3.png" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                  <h5> Colores bajo el mar</h5>
                </div>
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        
</main>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>