<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quienes somos</title>
    <link rel="stylesheet" href="../css/style.css">

</head>
<body>
<!--  este es el encabezado de la pagina, queda fija -->

    <header class="headerlogo">
        <img src="../img/logoentremareas.png" width="180px" height="130px">
    </header>
<!--  este es el fondo y el titulo de la pagina NUESTRA MISION --> 
    <div class="fondoQS">
        <h1 class="tituloQS">
            Creemos que todavía tenemos tiempo <br>para restaurar todo lo que podamos <br>y proteger lo que queda.</h1>
    </div>
    
<!-- a partir de aca empieza el cuerpo de la pagina --> 
<main>
    <section class="espacioblanco1">
        <div class="container2">
                <div class="subtitulo1QS"><h2>Quiénes Somos</h2></div>
                <br><h2 class="subtitulo2"> "Océanos libres, acciones sostenibles,<br> unión apasionada... <br> vidas marinas vibrantes"</h2>
                <br><h3 class="textoQS">Somos un grupo de apasionados defensores del mar. <br> Nuestra dedicación proviene de una profunda admiración
                    por la belleza del océano <br> y una comprensión clara de su importancia vital para el equilibrio de nuestro planeta. 
                    <br> Nos enorgullece ser una voz para los océanos, trabajando incansablemente para <br> garantizar su preservación para las generaciones venideras. 
                    <br>ENTRE MAREAS es una organización de conservación marina sin fines de lucro <br>impulsada por un equipo de científicos, activistas, comunicadores 
                    y expertos en <br> políticas que convergen para la protección y restauración del océano.
                    <br> Ahora vivimos en un planeta azul que refleja sólo una décima parte de la abundancia <br>natural que alguna vez tuvo. 
                    <br>La vida comenzó en el océano y la vida (para nosotros) podría terminar si no <br>abordamos verdaderamente el cambio climático
                    y la pérdida de biodiversidad. <br>Queremos desafiar las posibilidades con imaginación y recuperar el océano juntos. <br>
                    Se ha hecho mucho, pero aún queda bastante por hacer. <br>
                    Creemos que todavía tenemos tiempo para restaurar todo lo que podamos y proteger <br>lo que queda.</h3> 
            </div>
    </section>
</main>
</body>
</html>