<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sumate al equipo</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
<!--  este es el encabezado de la pagina, queda fija -->

<header class="headerlogo">
    <img src="../img/logoblanco.png" width="180px" height="130px">
</header>
<!--  este es el fondo y el titulo de la pagina NUESTRA MISION --> 
<section class="sect">
    <video  src="../videos/ocean aerial view_1080p.mp4" autoplay="true" muted="true" loop="true"></video>
    <h1 class="tituloSE">Together for the ocean.</h1>
</section>
<!--  cuerpo de la pagina NUESTRA MISION y formulario--> 
<section class="espacioblanco2"></section>
<div class="containerform">
    <p>¡Únete a ENTRE MAREAS y sé parte del cambio que el mar necesita ahora! <br>Comuníquese con nosotros si desea colaborar o obtener más información sobre nuestro trabajo.</p>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2477.0784355732458!2d-69.23296952425005!3d-51.62177234133637!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xbdb6fbfe34f40c43%3A0xd9c1dc41faa17f25!2sLuis%20Pasteur%20652%2C%20R%C3%ADo%20Gallegos%2C%20Santa%20Cruz!5e0!3m2!1ses-419!2sar!4v1701911565646!5m2!1ses-419!2sar" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>
<p class="textoform">Llená el formulario y nos pondremos en contacto con vos.</p>

<div class="container3">
    <form action="#" method="post" class="contact-form">
        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" name="nombre" required>

        <label for="apellido">Apellido:</label>
        <input type="text" id="apellido" name="apellido" required>

        <label for="celular">Celular de contacto:</label>
        <input type="tel" id="celular" name="celular" required>

        <label for="mensaje">Dejanos tu mensaje:</label>
        <textarea id="mensaje" name="mensaje" rows="4" required></textarea>

        <input type="submit" value="Enviar">
    </form>

<main>
    


</body>
</html>